.autocomplete__input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1.5px solid #ccc;
  padding: 0.7rem 1rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
}

.autocomplete__input input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.autocomplete__input:focus-within {
  outline: 1.5px solid #000;
}

.autocomplete__input button {
  color: #ccc;
  transition: color 0.1s linear;
  font-size: 18px;
}

.autocomplete__input button:hover {
  color: #000;
}

.autocomplete__body {
  opacity: 0;
  box-sizing: border-box;
  height: 0rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 0.4rem;
}

.autocomplete__body_extended {
  overflow: auto;
  height: 18rem;
  padding: 0.7rem 0;
  border: 1.5px solid #ccc;
  opacity: 1;
}
