.search-history__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #dedede;
}

.search-history__item h3 {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1rem;
  line-height: 0;
}

.search-history__item p {
  font-size: 0.8rem;
  color: #7b7b7b;
  line-height: 0;
}

.search-history__item button {
  color: white;
  transition: background-color 0.1s linear;
  font-size: 0.875rem;
  background-color: red;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.search-history__item button:hover {
  background-color: rgb(181, 0, 0);
}
