* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 5rem 0.5rem;
}

.heading-1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

input:focus::placeholder {
  opacity: 0;
}

input::placeholder {
  color: #ccc;
  transition: opacity 0.2s linear;
}