.shows-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  padding-top: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.message_error {
  color: red;
}

.show-item {
  padding: 0.4rem 1rem;
}

.show-item:hover {
  background-color: lightgray;
  cursor: pointer;
}
